/* Body Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}



/* Navigation Styles */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #333;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main Content Styles */
main {
    padding: 20px;
    text-align: center;
}

.service-description {
    margin-bottom: 20px;
}

.book-now-btn {
    background-color: #38a169;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.book-now-btn:hover {
    background-color: #2f855a;
}

/* Image Styles */
.service-image {
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

.responsive-image {
    width: 90%;
    height: auto;
    max-width: 450px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

